<form action="create.htm" method="post">


  <div class="form-group">
    <label for="url">URL</label>
    <input type="text"  id="url" name="url" placeholder="http://">
  </div>

   <div class="form-group">
    <label for="title">Titel</label>
    <input type="text"  id="title" name="title" placeholder="Post Titel">
  </div>

  <button type="submit" class="btn btn-default">Submit</button>


</form>