<form action="login.htm" method="post">


  <div class="form-group">
    <label for="name">Cooler Internet Name</label>
    <input type="text"  id="name" name="name" placeholder="">
  </div>

   <div class="form-group">
    <label for="password">Passwort</label>
    <input type="password"  id="password" name="password" placeholder="">
  </div>

	<p><strong>Falls der Name noch nicht vergeben ist, wird ein neuer Account erstellt.</strong></p>
	<p>Ich akzeptiere, mit der Registrierung SlackerNews alle Rechte an meinem Erstgeborenen zu überlassen.</p>

  <button type="submit" class="btn btn-default">Jetzt gehts los!</button>


</form>