{% include '_header.twig' %}



        {% for cat in cats %}
		<p><strong>{{ cat.name }}</strong> <br>
			{{cat.desc}}
		</p>
        {% endfor %}


<hr>


<h2>Neue Kategorie</h2>

<form action="newcat.htm" method="post">


  <div class="form-group">
    <label for="name">Name</label>
    <input type="text"  id="name" name="name" placeholder="">
  </div>

   <div class="form-group">
    <label for="desc">Beschreibung</label>
    <input type="text"  id="desc" name="desc" placeholder="">
  </div>

  <button type="submit" class="btn btn-default">Neue Kategorie</button>


</form>


{% include '_footer.twig' %}

